///Breakpoints for screen width
$breakpoint-small: 688px;
$breakpoint-medium: 992px;
$breakpoint-large: 1312px;
$breakpoint-extra-large: 1600px;

//Variables for components
$breakpoint-num: 670;
$breakpoint-height: $breakpoint-num + px;
$boardWidth: 330px;
$boardHeight: 400px;
$breakpointBoardWH: 35vh;
$inputWH: 60px;
$breakpointInputWH: 7vh;
$fontSize: 4vh;

:root {
  --puke-yellow: #c9b458;
  --green: #6aaa64;
  --light-gray: #d3d6da;
  --dark-gray: #787c7e;
  --purple: #b14877;
}
